body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color:#154234;/*Body Background Color*/
}

nav {
  overflow: hidden;
  background-color: #006445; /*Navbar Background Color*/
  display: flex;
  width: 100%;
  padding: auto;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  /*justify-content: space-between;*/
}

nav ul {
    display: flex;
    /*align-items: center;*/
    list-style-type: none;
    }

.navbar a {
  float: left;
  font-size: 16px;
  color: white; /*Navbar Non-Hover Letter Color*/
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white; /*The Dropdown Items in Nav Non-Hover Letter Color*/
  padding: 14px 16px;
  background-color: inherit; /*inherit? The Dropdown Items in Nav Non-Hover Block Color*/
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: #006445; /*NavBar Hover Block Color*/
  color: #DBFF4A;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #154234; /*SubNav Bar Non-Hover Background Color*/
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: white; /*SubNav Bar Non-Hover Letter Color*/
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #eee; /*SubNav Hover Block Color*/
  color: #DBFF4A; /*SubNav Hover Letter Color*/
}

.subnav:hover .subnav-content {
  display: block;
}

/*New*/
img {
    width: 14vw;
    height: 7vw;
    padding: 0;
    margin: 0;
  }
  h3 {
    style="padding:0 16px"
  }
  p {
    style="padding:0 16px"
  }