* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  color: white;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  background-color: #154234;
  position: relative;
}

header {
  position: sticky;
  top: 0;
  left: 0;
}

main {
  min-height: 70vh;
}

* h1 {
  font-style: italic;
  font-size: 2.75vw;
  text-align: center;
}

section {
  width: 45vw;
  padding-bottom: 10vh;
  padding-left: 5vw;
}


section p {
  font-style: italic;
}

.index_section {
  float: left;
}

article img {
  width: 45vw;
  height: 75vh;
  padding-left: 4.5vw;
  padding-top: 4.5vh;
  padding-bottom: 10vh;
  padding-right: 9vw;
  float:right;
}

footer { /*test*/
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 9vh;
  background-color: #006445;
  text-align: center;
  font-size: 0.9vw;
  padding-top: 3vh;
  padding-right: 1.5vw;
}

.submits {
  color: black;
}

.over_ons {
  text-align: center;
  width: 100%;
  padding-top: 2.5vh;
  padding-left: 30%;
  padding-right: 30%;
}
/* Tip Rem  Html font size 62,5% = 10px */
