* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #154234;
  font-family: "Goldman", cursive;
}

/*Nav Menu*/
nav {
  background: #006445;
  /*display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;*/
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  /*overflow: hidden;*/
}

nav li {
  font-size: 20px;
  float: left;
}


/* Tip Rem  Html font size 62,5% = 10px */
nav li a {
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 1rem 1rem;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  background-color: #006445;
  min-width: 20vw;
  color: black;
}

.tcr-logo {
  width: 185px;
  height: auto;
}




/* Menu WIP voor later  */
.active {
  color: #DBFF4A;
}




section {
  width: 45%;
  float: left;
  text-align: center;
  font-size: 15px;
  margin: 10px;
}

section img {
  width: 550px;
  height: 600px;
  float: right;
  margin: 10px;
}

h1 {
  font-size: 40px;
  text-align: center;
}

footer { /*test*/
  height: 10%;
  background-color: blue;
}
