* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}


body {
  max-width: 100vw;
  min-height: 100vh;
  background-color: #154234;
  position: relative;
}

section {
  width: 45vw;
  float: left;
  text-align: center;
  font-size: 1vw;
  padding-left: 10vw;
  padding-top: 3vw;
  padding-bottom: 3vw;
  padding-right: 3vw;
}

section img {
  width: 45vw;
  height: 75vh;
  float: right;
  padding-left: 10vw;
  padding-top: 1vw;
  padding-bottom: 3vw;
  padding-right: 3vw;
}

h1 {
  font-size: 3vw;
  text-align: center;
}

footer { /*test*/
  width: 100%;
  height: 10vh;
  background-color: blue;
  overflow:auto;
}

/* Tip Rem  Html font size 62,5% = 10px */
